{% extends "bootstrap/base.html" %}

{% block title %}My TODO List{% endblock %}

{% block head %}
    {{ super() }}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap DateTimePicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <!-- Bootstrap DateTimePicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/zh-cn.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse container">
        <div class="navbar-header"> <a class="navbar-brand" href="{{ url_for('show_todo_list') }}">TODO</a> </div>
        <!-- logout links -->
        {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav pull-right">
                <li><a class="btn" href="{{ url_for('logout') }}">logout</a></li>
            </ul>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- flash message -->
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">close</span></button>
            {{ message }}
        </div>
        {% endfor %}

        <!-- body block -->
        {% block page_content %} {% endblock %}
    </div>
{% endblock %}
