{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<!-- 显示当前用户 -->
<div class="row">
    <div class="col-md-12">
        <h3>当前用户: {{ current_user.username }}</h3>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <th class="active">No</th>
        <th class="active">描述</th>
        <th class="active">是否完成</th>
        <th class="active">创建时间</th>
        <th class='active'>操作</th> 
    </thead>
    <tbody>
        {% for todo in todolists %}

            <!-- tr -->
            {% if todo.status %} <tr class="success">
            {% else %} <tr class="info"> {% endif %}
                <td>{{ loop.index }}</td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.status }}</td>
                <td>{{ todo.create_time }}</td>
                <td>
                    {% if todo.status %}
                    <a href="{{ url_for('delete_todo_list', id=todo.id) }}" class="btn btn-danger" role ="button">删除</a>
                    {% else %}
                    <a href="{{ url_for('change_todo_list', id=todo.id) }}" class="btn btn-success" role ="button">修改</a>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}

    </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> ADD </button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog"> <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" align="center">add new todo list</h4>
      </div>

      <div class="modal-body">
          <div class="row">
              <div class="col-md-8 col-md-offset-2"> {{ wtf.quick_form(form, form_type="horizontal") }} </div>
          </div>
      </div> <!-- modal body -->

    </div> </div>
</div>

<!-- Switch User Modal -->
<div class="modal fade" id="switchUserModal" tabindex="-1" role="dialog" aria-labelledby="switchUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="switchUserModalLabel">切换用户</h4>
      </div>
      <div class="modal-body">
        <div class="list-group">
          {% for user in logged_in_users %}
            <a href="{{ url_for('switch_user', user_id=user.id) }}" class="list-group-item {% if user.id == current_user.id %}active{% endif %}">
              {{ user.username }} {% if user.id == current_user.id %}(当前){% endif %}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="addUserModalLabel">添加新用户</h4>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('add_user') }}" method="post">
          <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">添加并登录</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
